@using System.Collections.Generic
@using System.Threading.Tasks
@using ImkStala.DataAccess.Entities
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Authentication
@using ImkStala.Web.ViewModels.Restaurant
@model ImkStala.Web.ViewModels.Restaurant.ViewMenuViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "View Menu";
}
@if (TempData["Success"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
}
@if (TempData["Unsuccess"] != null)
{
    <p class="alert alert-danger" id="unsuccessMessage">@TempData["Unsuccess"]</p>
}
<div class="col-md-8">
    <h1 class="formInfo">Naujas patiekalas</h1>
    <form asp-controller="Restaurant" asp-action="AddMenu" method="post" class="form-horizontal registerForm" role="form">
            <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="col-md-3 control-label"></label>
                <div class="col-md-5">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="col-md-3 control-label"></label>
                <div class="col-md-5">
                    <input asp-for="Price" class="form-control" value="0,00" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SelectedMenuItemType" class="col-md-3 control-label"></label>
                <div class="col-md-5">
                    <select id="typeSelect" asp-for="SelectedMenuItemType" class="form-control">
                        <option value="-1">Sukurti naują patiekalo tipą</option>
                        @{
                            foreach (var menuItemType in Model.MenuItemTypes)
                            {
                                <option value="@menuItemType.TypeName">@menuItemType.TypeName</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div id="newType" class="form-group">
                <label asp-for="NewTypeName" class="col-md-3 control-label"></label>
                <div class="col-md-5">
                    <input asp-for="NewTypeName" class="form-control" value=@Model.SelectedMenuItemType style="-webkit-appearance: none;" />
                    <span asp-validation-for="NewTypeName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-10">
                    <input type="submit" value="Pridėti" class="btn btn-default"/>
                </div>
            </div>
    </form>
</div>
<div class="col-md-4 form-horizontal" style="padding-top: 20px">
    <h1 class="formInfo">Restorano meniu</h1>
    @foreach (IGrouping<MenuItemType, MenuItem> grouping in Model.Meals)
    {
        <table class="table" style="color: black; border-radius: 10px; background-color: white;">
            <thead>
                <tr>
                    <th>@grouping.Key.TypeName</th>
                    <th>Kaina, &#8364;</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var menuItem in grouping)
                {
                    <tr>
                        <td>@menuItem.Name</td>
                        <td>@menuItem.Price</td>
                        <td><form asp-controller="Restaurant" asp-action="RemoveMenu" style="color: red; font-size: 20px; text-decoration:none"><input type="hidden" name="menu" value="@menuItem.Id"/><input type="submit" value="✗" style="background-color:white; border:0px;"/></form></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}